@tailwind preflight;
@tailwind components;
@tailwind utilities;

$accentColor = #5b3cc4
$textColor = #5b5777
$borderColor = #eaecef
$codeBgColor = #364b75
$navbarHeight = 3.5rem
$arrowBgColor = #ddd
$nprogressColor = #5b3cc4

@font-face
  font-family 'Font Awesome 5 Brands'
  font-style normal
  font-weight 400
  src url("/fontawesome/webfonts/fa-brands-400.woff2") format("woff2")
  font-display swap

.fab
  font-family 'Font Awesome 5 Brands'
  font-weight 400

@font-face
  font-family 'Font Awesome 5 Regular'
  font-style normal
  font-weight 400
  src url("/fontawesome/webfonts/fa-regular-400.woff2") format("woff2")
  font-display swap

@font-face
  font-family 'Font Awesome 5 Solid'
  font-style normal
  font-weight 900
  src url("/fontawesome/webfonts/fa-regular-400.woff2") format("woff2"),url("/fontawesome/webfonts/fa-solid-900.woff2") format("woff2")
  font-display swap

.far, .fas
  font-family 'Font Awesome 5 Free'
  font-weight 900

header-color = #5b5777
header-bgcolor = rgba(255,255,255,0.6) 

@font-face
  font-family "Yu Gothic"
  src local("Yu Gothic Medium")
  font-weight 100

@font-face
  font-family "Yu Gothic"
  src local("Yu Gothic Medium")
  font-weight 200

@font-face
  font-family "Yu Gothic"
  src local("Yu Gothic Medium")
  font-weight 300

@font-face
  font-family "Yu Gothic"
  src local("Yu Gothic Medium")
  font-weight 400

@font-face
  font-family "Yu Gothic"
  src local("Yu Gothic Bold")
  font-weight bold

@font-face
  font-family "Helvetica Neue"
  src local("Helvetica Neue Regular")
  font-weight 100

@font-face
  font-family "Helvetica Neue"
  src local("Helvetica Neue Regular")
  font-weight 200



html
  font-family Camphor,Meiryo,Hiragino Sans,sans-serif!important

@media all and (-ms-high-contrast: none) 
  html
    font-family Camphor,Meiryo,Hiragino Sans,sans-serif, sans-serif
  

@media all and (-ms-high-contrast: active)
  html
    font-family Camphor,Meiryo,Hiragino Sans,sans-serif, sans-serif
  
.sidebar ul
  list-style-image url(data:0)!important

html
  overflow-y scroll
  font-size 16px!important

body
  font-size 1rem!important
  font-feature-settings "pkna" 1!important
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  line-height 1rem!important
  word-break break-word!important

.navbar
  background-color header-bgcolor!important
  color header-color
  box-shadow 0 0 10px 0 rgba(0,0,0,0.1)
  backdrop-filter blur(2px)
  border-bottom: initial!important

.navbar .site-name
  color header-color

span.site-name.can-hide
  display none!important

.nav-links a.router-link-active
  color #5b3cc4

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active

.navbar .links
  background-color initial

.dropdown-wrapper .nav-dropdown .dropdown-item
  color black 

.sidebar
  background-color #f5f7fb!important
  -webkit-overflow-scrolling: touch!important;

.page
  background-color #fdfdfd!important
  margin-bottom 3rem!important

h1
  padding 15px
  padding-left 0
  color #5b3cc4

h2
  font-size 1.7rem

h3
  font-size 1.4rem
  color #5b3cc4

div[class*="language-"]
  background-color #22355d

:not(pre) > code
  margin 0 0.3rem!important

.sidebar-group-items > li
  padding-top .5rem!important
  border-top #e2e7f1 1px solid

.custom-block.warning
  background-color rgba(255, 136, 136, 0.3)
  color #5b5777

.custom-block.tip, .custom-block.warning, .custom-block.danger
  border-left-width initial
  border-left-style initial
  margin 1.5rem
  padding 1rem 1.5rem

.custom-block.tip, .custom-block.warning, .custom-block.danger
  .custom-block-title
    color #21355d

.sidebar-sub-headers
  padding-bottom .5rem!important

.home .hero h1
  margin-bottom -1.5rem!important

p.action
  margin 3rem!important

.home
  .feature p, .hero .description
    color #686489!important

@font-face
  font-display swap

.go-to-top
  bottom 3.5rem!important

@media (max-width: 959px)
  .go-to-top[data-v-67a9666a]
    display initial

.content img
  transition all .3s ease-out
  transform translateY(-5px)

th
  background-color #abaabb
  color #fff

table
  border-radius .3rem
  display table!important
  table-layout fixed
  width 95%

.survey-content
  background #fafbff!important

.nps .scores .score>div
  background #f3fff6!important

.ng-scope
  font-family Camphor,Meiryo,Hiragino Sans,sans-serif!important

.search-box input
  font-size 16px!important

.youtube
  position relative
  width 100%
  padding-top 56.25%

.youtube iframe 
  width 100%
  position absolute
  top 0
  right 0
  height 100%

.gradient
  background linear-gradient(90deg, #1d06bc 0%, #2b9adc 100%)

.home
  color white
  background linear-gradient(90deg, #1d06bc 0%, #2b9adc 100%)
  max-width initial
  padding 0!important

.hero
  display none

.features
  display none

button:focus
	outline 0

.aspect-16x9
  padding-bottom 56.25%

.footer
  font-weight bold

.iframe-wrap
  position relative
  width 100%
  height 0
  padding-top 300%
  margin-left auto
  margin-right auto
  max-height 704px
  iframe
    position absolute
    top 0
    left 0
    height 100%
    width 100%

@media (min-width: 769px)
  .iframe-wrap
    padding-top 150%

@media (min-width: 980px)
  .iframe-wrap
    padding-top 120%
